* {
  box-sizing: border-box;
}

html {
  font-family: montserrat, sans-serif;
  color: var(--clr1);
}

body {
  margin: 0;
  font-size: 16px;
}

img {
  width: 100%;
}

a {
  color: var(--clr2);
  text-decoration: none;
}
