header {
  min-height: 66px;
  background-color: var(--clr1);
  color: var(--clr2);
  font-size: 0.75rem;
  padding: 0px 20px;
}

/* MOBILE ONLY */
@media (max-width: 600px) {
  header {
    min-height: 56px;
    padding: 0px 16px;
    font-size: 0.625rem;
  }
}
